

.footer-main {

  background-color: #003049;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-main .footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0 0 0;
  margin: 0;
}

.footer-main .footer-links li a{

    color: white;
    text-decoration: none;
}
